<!DOCTYPE html>
<html lang="es" class="h-100">


<!-- Se incluye el documento parcial donde se almacena la codificacion de 
    la parte del head -->
<%- include('./partials/head.ejs',{titulo: 'PRODUCTO' }) %>

<body class="d-flex flex-column h-100">
    <header>
        <!-- Se incluye el documento parcial donde se almacena la codificacion de 
        la parte del encabezado -->
        <%- include('./partials/nav.ejs',{activeTab: 'Productos' }) %>
    </header>
    <main class="flex-shrink-0">
        <div class="container">
            <!-- Condicional para definir el contenido de la página
                según el tipo de acción -->
            <% if (accion === 'nuevo') { %>

            <h2 class="mt-3">Nuevo Producto</h2>
            <form action="/producto/guardar" method="post">
                <%- include('./forms/frm-producto.ejs')  %>
            </form>

            <% }else if (accion === 'editar'){%>

            <h2 class="mt-3">Editar Producto</h2>
            <form action="/producto/editar" method="post">
                <input type="hidden" name="productoId" value="<%=  data[0].productoId %>">
                <%- include('./forms/frm-producto.ejs',{data: data[0]}) %>
            </form>

            <% }else {%>
            <h1>Acción no válida</h1>
            <% }%>
        </div>
    </main>
    <!-- Se incluye el documento parcial donde se almacena la codificacion de 
    la parte del pie de página y scripts -->
    <%- include('./partials/footer.ejs') %>
    <script src="/js/productos.js"></script>
</body>

</html>